
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/287f20f5bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
       
            <img class="logo-principal" src="/img/logo-mercado-liebre.svg"  alt="Logo">
        <div class="buscador">
            <form action="" class="barra-buscador"><input type="text" name="" id=""></form>
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
       
        <p class="compra-cuotas"> <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito </p>
        <nav>
            <ul class="lista-navegacion">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficial</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="lista-navegacion">
                <li><a href="/register">Crea tu Cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <section class="banner-promos">
        <img src="/img/img-home-banner.jpg" width="360" alt="Banner Ofertas">
    </section>
    <main>
        <section class="lista-de-articulos">
            <h3 class="titulo-articulos">Basado en tu última visita</h3>

            <article class="producto-item"><img src="/img/img-cafetera-moulinex.jpg" whidth="360" alt="cafetera" class="product_img">
                <div class="datos-producto">
                    <div class="div-camion">
                        <i class="fa-solid fa-truck camion"></i>
                    </div>
                <p class="precio" id="precios">$6.770</p>
                <p class="descuento" id="descuentos">40% OFF</p>
                <h4 class="descripcion">Cafetera Moulinex</h4></div>
            </article>


            <article class="producto-item"><img src="/img/img-macbook-pro-2019.jpg" whidth="360" alt="MacBook" class="product_img">
                <div class="datos-producto">  <div class="div-camion">
                    <i class="fa-solid fa-truck camion"></i>
                </div>
                <p class="precio" id="precios">$230.000</p>
                <p class="descuento" id="descuentos">20% off</p>
                <h4 class="descripcion">MacBook Pro 2019</h4></div>
            </article>

            <article class="producto-item"><img src="/img/img-samsung-galaxy-s10.jpg" whidth="360" alt="telefono movil" class="product_img">
                <div class="datos-producto">  <div class="div-camion">
                    <i class="fa-solid fa-truck camion"></i>
                </div>
                <p class="precio" id="precios">$70.500</p>
                <p class="descuento" id="descuentos">10% off</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4></div>
            </article>

            <article class="producto-item"><img src="/img/img-tv-samsung-smart.jpg" whidth="360" alt="smart" class="product_img">
               <div class="datos-producto">   <div class="div-camion">
                <i class="fa-solid fa-truck camion"></i>
            </div>
                <p class="precio" id="precios">$23.200</p>
                <p class="descuento" id="descuentos">5% off</p>
                <h4 class="descripcion">SmartTv Samsung 43"</h4></div>
            </article>
        </section>
        <section class="lista-de-articulos">

            <h3 class="titulo-articulos">Ofertas</h3>
            <article class="producto-item"><img src="/img/img-cafetera-moulinex.jpg" whidth="360" alt="cafetera" class="product_img">
               <div class="datos-producto">   <div class="div-camion">
                <i class="fa-solid fa-truck camion"></i>
            </div>
                <p class="precio" id="precios">$6.770</p>
                <p class="descuento" id="descuentos">40% OFF</p>
                <h4 class="descripcion">Cafetera Moulinex</h4></div>
            </article>

            <article class="producto-item"><img src="/img/img-macbook-pro-2019.jpg" whidth="360" alt="MacBook" class="product_img">
                <div class="datos-producto">  <div class="div-camion">
                    <i class="fa-solid fa-truck camion"></i>
                </div>
                <p class="precio" id="precios">$230.000</p>
                <p class="descuento" id="descuentos">20% off</p>
                <h4 class="descripcion">MacBook Pro 2019</h4></div>
            </article>

            <article class="producto-item"><img src="/img/img-samsung-galaxy-s10.jpg" whidth="360" alt="telefono movil" class="product_img">
               <div class="datos-producto">   <div class="div-camion">
                <i class="fa-solid fa-truck camion"></i>
            </div>
                <p class="precio" id="precios">$70.500</p>
                <p class="descuento" id="descuentos">10% off</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4></div>
            </article>

            <article class="producto-item"><img src="/img/img-tv-samsung-smart.jpg" whidth="360" alt="smart" class="product_img">
                <div class="datos-producto">  <div class="div-camion">
                    <i class="fa-solid fa-truck camion"></i>
                </div>
                <p class="precio" id="precios">$23.200</p>
                <p class="descuento" id="descuentos">5% off</p>
                <h4 class="descripcion">SmartTv Samsung 43"</h4></div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <article class="footer-articulo">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-articulo">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-articulo">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin </h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>

            </article>
        </section>
        <p class="copyrigth">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>
</html>